.swipecard__button-group {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 4rem;
}

.swipecard__body {
  max-width: 90%;
  margin: 0 auto;
}

.swipecard img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 12px 12px 0 0;
}

.swipecard__price-label {
  font-size: 1.2rem;
  font-weight: light;
}

.swipcard__like {
  background-color: #d0d275;
  width: 75px;
  height: 75px;
  font-size: 2rem;
  font-family: sans-serif;
  border: none;
  border-radius: 50%;
  box-shadow: var(--main-box-shadow);
  color: var(--secondary-bg-color);
}
.swipcard__dislike {
  background-color: #e24a4a;
  width: 75px;
  height: 75px;
  font-size: 2rem;
  font-family: sans-serif;
  border: none;
  box-shadow: var(--main-box-shadow);
  border-radius: 50%;
  color: var(--secondary-bg-color);
}
