.login-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 20vw;
  margin: auto;
  margin-top: 30vh;
}

.login-form input {
  outline: 0;
  border-width: 0 0 2px;
  margin-bottom: 0.2rem;
  height: 3rem;
  background-color: var(--secondary-bg-color);
  border: 0 0 1px 0;
  color: var(--main-text-color);
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.login-form input::placeholder {
  color: var(--main-text-color);
}

.login-form button {
  background-color: var(--main-text-color);
  height: 2.5rem;
  width: 80%;
  border-radius: 12px;
  border: none;
  align-self: center;
  font-size: 1.2rem;
  color: var(--secondary-bg-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}
